@{
    ViewBag.Title = "Home Page";
}




<br />
<br />
<body>
    <link href="~/Content/MenuInventario.css" rel="stylesheet" />
    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Laptops")'> <img class="laptop" src='@Url.Content("~/Img/laptop.png")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Laptops</h2>
            <br />
        </div>

    </div>

    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Desktop")'> <img class="desktop" src='@Url.Content("~/Img/desktop.png")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Desktops</h2>
            <br />
        </div>


    </div>
    <br />

    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Monitores")'> <img class="monitor" src='@Url.Content("~/Img/monitor.png")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Monitores</h2>
            <br />
        </div>
        
    </div>
    
    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_MemoriaRam")'> <img class="ram" src='@Url.Content("~/Img/ram.jpg")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Memoria Ram</h2>
            <br />
        </div>
        


    </div>
    

    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_DiscoDuro")'> <img class="hdd" src='@Url.Content("~/Img/almacenamiento.png")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Almacenamiento</h2>
            <br />
        </div>
        
        

    </div>
    <br />
    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Accesorios")'> <img class="accesorios" src='@Url.Content("~/Img/accesorios.png")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Accesorios</h2>
            <br />
        </div>
        


    </div>
    <br />
    <br />
    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Bateria")'> <img class="bateria" src='@Url.Content("~/Img/baterias.jpg")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Baterias</h2>
            <br />
        </div>
        

    </div>
    

    <div class="col-md-4">
        <a href='@Url.Action("Index", "Modulo_Cargadores")'> <img class="cargador" src='@Url.Content("~/Img/cargador.jpg")' /> </a>
        <div style="color:white">
            <h2 style="background-color:black">Cargadores</h2>
            <br />
        </div>
        <br />
    </div>

</body>
<br />




