@model IEnumerable<CapaEntidad.datos_Cargadores>

@{
    ViewBag.Title = "Index";
}
<body>
    <h2>Listado de Cargadores</h2>
    @section styles{
        <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
    }
    <p>
        @Html.ActionLink("Ingresar un nuevo Cargador", "Create", "Modulo_Cargadores")
    </p>

    <div>
        <table class="table" id="usertable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReservadoPor)
                    </th>


                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservadoPor)
                    </td>


                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.id }) |
                        @Html.ActionLink("Detalles", "CargadorDetail", new { id = item.id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
                    </td>
                </tr>

                }
            </tbody>


        </table>
        @section scripts{
            <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
            <script>
                $('#usertable').DataTable();
            </script>
        }

    </div>

    <br />
    @Html.ActionLink("Regresar al Menu", "Index", "Home")


</body>